::-webkit-scrollbar,
#_ljkiaLPqMufg2roP-Zef8Ag_1,
#bres,
#mlogo,
#result-stats,
#sfooter,
#eRsUse,
#tvcap,
#kp-wp-tab-overview > :last-child,
.SJajHc,
.logo,
.XDyW0e,
.nDcEnd,
.T7Ko6,
.SF7xd,
.FgNLaf,
.eFM0qc.BCF2pd,
.ACRAdd.M2vV3,
.HZVG1b.Tg7LZd,
.C7GK8b.vza2Ib.ApHyTb,
.fBTYMc.oL4XVe.Xdpf2,
.csDOgf.BCF2pd.ezY6nb.L48a4c,
h1 {
  display: none !important
}
#hdtbMenus {
  display: grid !important;
  top: 8px;
  height: 22px;
  padding-bottom: 8px
}
.NKTSme {
  width: 20px
}
a {
  display: contents
}